@import "../../../styles/baseline/_styles";

.weather {
  height: 100vh;
  background: linear-gradient(163deg, rgba(130,96,113,1) 0%, rgba(59,51,81,1) 100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}