@import "../../../styles/baseline/_styles";

.weatherCard {
  max-width: 340px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(#453449, 0.65) 0px 25px 20px -10px;
  background-color: $color-primary;
  animation: fadeIn 1s;
  transition: $global-transition;
  padding: 20px;
  padding-bottom: initial;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.header {
  text-align: center;
  width: 100%;
}

.topContainer {
  position: relative;
  width: 100%;
  min-height: 30vh;
  vertical-align: top;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  @include respond-above($bp-md) {
    min-height: 350px;
  }
}